* {
    background-color: #000;
    font-family:'Courier New', Courier, monospace;
    color: white;
    box-sizing: border-box;
}

.homepage {
    margin: 5%;
}

/* Gallery Section */ 

.responsive {
    padding: 0 5px; 
    width: 25%;
    float: left;
}

.gallery {
    border: 1px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    object-fit: cover;
}

.desc {
    padding: 15px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* End of Gallery Section */

table {
    border-collapse: collapse; 
    width: 100%
}

td, th {
    border: 1px solid #fff;
    text-align: left; 
    padding: 10px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #9d5892;
    color: black;
}
